body {
    @media (min-width: @screen-lg-min) {
        header {
            #logo {
                img {
                    padding: 10px 15px 0 15px;                    
                }
            }
        }
        footer {
            .links {
                ul {
                    li {
                        a {
                            padding: 5px 25px;
                        }
                    }
                }
            }
        }
        #single-product {
            .images {
                max-height: 460px !important;
                .thumbnails {
                    a {
                        max-height: 150px !important;
                    }
                }
            }
        }
    }
    @media (min-width: @screen-md-min) {
        &.single-pap_latest {
            header {
                #logo {
                    img {
                        background: rgba(0,0,0,0.6);
                    }
                }
            }
        }
        header {
            #logo {
                margin-top: 0;
                img {
                    max-height: none;
                    padding: 10px 15px 5px 15px;
                    position: absolute;
                    left: 0;
                    .lh-background-image(linear-gradient(to bottom, @primary 0%,@secondary 100%));
                }
            }
            #social-media {
                margin: 13px 0;
                ul {
                    li {
                        a {
                            width: 35px;
                            height: 35px;
                            &:after {
                                color: @primary;
                                font-size: 1.2em;
                            }
                        }
                    }
                }
            }
        }
        #main {
            margin-top: 30px;
        }
        #top-image {
            .image {
                min-height: 300px;
                max-height: 500px;
                height: auto;
            }
        }
        #slider {
            .caption {
                .left, .right {
                    padding-top: 20px;
                    &:before {
                        font-size: 4em;
                    }
                }
                .content {
                    padding: 20px 0;
                    h2 {
                        font-size: 1.8em;
                    }
                    h3 {
                        font-size: 1.2em;
                    }
                }
            }
        }
        #ontheair {
            .twitter {
                iframe {
                    height: 500px !important;
                }
            }
        }
        #production {
            .slideshow {
                float: right !important;
            }
        }
        #clothing {
            .main {
                padding-right: 75px;
                .product-clothing {
                    max-height: 440px;
                }
            }
            .side {
                .product-clothing {
                    max-height: 210px;
                }
            }
        }
        .product-item {
            .thumb {
                .inner {
                    height: 220px !important;
                }
            }
        }
        #single-product {
            .images {
                max-height: 400px;
                .thumbnails {
                    a {
                        max-height: 130px;
                    }
                }
            }
            .related {
                .products {
                    li {
                        a {
                            height: 175px;
                        }
                    }
                }
            }
        }
    }
    @media (min-width: @screen-sm-min) {
        #top-image {
            .top {
                border-bottom: 1px solid @white;
                margin-bottom: 10px;
                padding-bottom: 10px !important;
            }
        }
        #ontheair {
            .productions {
                .excerpt p {
                    font-size: 0.8em !important;
                }
            }
            .twitter {
                iframe {
                    height: 450px;
                }
            }
        }
        .product-item {
            .thumb {
                .inner {
                    height: 200px;
                }
            }
        }
    }

    @media (max-width: @screen-sm-max) {
        #ontheair {
            .productions {
                .item {
                    display: none;
                    &:first-child, &:nth-child(2) {
                        display: block;
                    }
                }
            }
        }
        #staff-options {
            .controls {
                ul {
                    li {
                        text-align: left;
                        .make-xs-column(6);
                        margin-bottom: 5px;
                        a {
                            display: block;
                            background: @secondary;
                            color: @white;
                            padding: 2px 5px;
                            font-size: 0.9em;
                            &:after {
                                font-family: FontAwesome;
                                content: "\f105";
                                float: right;
                                color: @baby-blue;
                            }
                        }
                    }
                }
            }
        }
        #staff {
            .item {
                background: @light-gray;
                .image {
                    margin-top: 30px;
                    padding-left: 5px;
                }
            }
        }
        &.tax-product_cat {
            #product-filters {
                .tab {
                    display: none;
                    &:before, &:after {
                        display: none;
                    }
                }
                #shopping-cart {
                    width: auto !important;
                    display: block !important;
                    float: right !important;
                    background: none !important;
                    margin: 0;
                    min-height: auto;
                    a {
                        margin: 0;
                        padding: 0 10px;
                        border: 1px solid @light-gray;
                    }
                }
            }
        }
        .tab {
            margin: 0 !important;
        }
    }
    @media (max-width: @screen-xs-max) {
        font-size: 13px;
        .title {
            font-size: 1.8em;
            font-weight: bold;
            padding: 25px 0;
        }
        #about {
            .location {
                font-size: 0.75em;
            }
        }
        #clothing {
            .side {
                .product-clothing {
                    max-height: 150px;
                    overflow: hidden;
                }
            }
        }
        &.tax-product_cat {
            #searchbar {
                width: 100%;
                min-height: 50px;
                background: @cyan !important;
                &:before, &:after {
                    display: none;
                }
            }
        }
        .cart_totals, .shipping-calculator-form {
            width: 100%;
            margin-bottom: 15px;
        }
    }
}
